<!-- Utilizando a class d-none e d-md-block, a imagem só aparecera para computadores e alguns Ipads -->
<div class="area-login-backgroud d-none d-md-block"> </div> 


<div class="area-form">
    <form>
        <h1 class="titulo">CRUD USER</h1>
        <h2 class="subtitulo">Mais eficiencia no controle de usuârios</h2> 

        <input [(ngModel)]="userName" [ngModelOptions]="{standalone:true}" class="input-form" type="text" placeholder="Digite seu nome">

        <app-button textButton="Acessar" (click)="login()"></app-button>
    </form>

    <p class="footer">  © 2024 | Desenvolvido por Guilherme Berssanette</p>
</div>

